.selectCurrent {
    position: relative;
    width: 60px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    background: var(--light-secondary);
    color: var(--primary);
    border: 1px solid var(--secondary);
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    cursor: pointer;
    filter: brightness(95%);
}
.selectCurrent:hover {
    filter: none;
}
.selectCurrent.open {
    border-top-left-radius: 0;
}
.selectCurrent > i {
    color: var(--primary);
    font-size: 2rem;
}
.selectOptions {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background: var(--secondary);
    display: grid;
    padding-bottom: 0.5rem;
    /* z-index: -1; */
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.selectOptions > span {
    display: grid;
    place-items: center;
    width: 100%;
    aspect-ratio: 1;
    font-size: 1.5rem;
    cursor: pointer;
    filter: brightness(85%);
}
.selectOptions > span:hover {
    filter: brightness(110%);
}
.selectOptions > span * {
    color: var(--background);
}
