  body {
    display: grid;
    place-items: center;
  }
  #options {
    padding: 1rem;
    width: clamp(350px, 80vw, 800px);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    box-shadow: var(--shadow);
    background-color: var(--background);
  }
  #options p {
    font-size: xx-large;
    color: var(--secondary);
  }
  #submitBtn {
    display: block;
    width: 70%;
    margin: 1rem auto;
  }
  #codeInput {
    font-size: clamp(16px, 4vw, 28px);
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--secondary);
    color: var(--primary);
    width: 100%;
    background: transparent;
    text-align: center;
  }