body {
  display: flex;
  justify-content: center;
}
#root {
  position: relative;
  min-width: 300px;
  width: 100%;
}
#resBox {
  background: var(--background);
  box-shadow: var(--shadow);
  padding: 2rem;
  width: clamp(300px, 50vw, 700px);
  max-height: 70vh;
  overflow: auto;
  margin: 10vh auto;
}
.response {
  display: grid;
  gap: 0.5rem;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px dashed var(--light-secondary);
}

.response > p:nth-of-type(even) {
  margin-left: 1rem;
}
p:has(.fa-circle-check),
p:has(.fa-circle-check) * {
  color: var(--success);
}
p:has(.fa-circle-xmark),
p:has(.fa-circle-xmark) * {
  color: var(--warning);
}

#passBox {
  position: relative;
  width: fit-content;
  margin: auto;
}
#peek {
  position: absolute;
  top: 50%;
  right: 5%;
  translate: 0 -50%;
  color: var(--secondary);
  cursor: pointer;
}
#password {
  font-size: clamp(16px, 4vw, 24px);
  padding: 0.5rem;
  width: clamp(250px, 20vw, 400px);
  border: none;
  background: var(--background);
  color: var(--primary-half);
}
.score,
.score * {
  color: var(--secondary);
}

#optBox {
  margin: auto;
  text-align: center;
}

