body {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: var(--background);
}
#sidebar {
  position: relative;
  flex: 1;
  border-right: 4px solid var(--primary);
  background: var(--light-secondary);
  text-align: center;
  padding: 1rem;
}
#uploadLabel,
#createAnother {
  display: block;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid var(--secondary);
  cursor: pointer;
}
#uploadLabel.hovering,
#uploadLabel:hover,
#uploadLabel:hover span,
#createAnother:hover {
  background-color: var(--secondary);
  color: var(--background);
}

#qList {
  display: grid;
  gap: 0.4rem;
}
.qListItem {
  position: relative;
  border: 1px solid var(--primary);
  padding: 0.5rem;
  padding-left: 50px;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
}
.qListItem.active {
  outline: 2px solid var(--secondary);
  background: var(--background);
}
.checkComplete {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  display: grid;
  place-items: center;
  background: var(--primary);
  border-right: 1px solid var(--primary);
}
.checkComplete * {
  color: var(--background);
}
#launchSubmission {
  padding: 1.5rem;
  border: none;
  position: absolute;
  left: 50%;
  bottom: 20%;
  translate: -50%;
  font-size: 1.5rem;
  background: var(--secondary);
  color: var(--background);
  border: 2px solid var(--background);
  cursor: pointer;
  display: none;
  animation: shimmer 1s infinite alternate linear;
}
@keyframes shimmer {
  0% {
    filter: brightness(100%);
    box-shadow: none;
  }
  100% {
    filter: brightness(120%);
    box-shadow: 0 0 10px var(--secondary);
  }
}
#restart {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  translate: -50%;
  background: var(--background);
  border: 1px solid var(--warning);
  padding: 0.5rem;
  cursor: pointer;
}
#dropFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  outline-offset: -0.5rem;
  outline: 1px solid var(--background);
  display: grid;
  place-items: center;
  align-items: center;
  line-height: 1.5;
  font-size: 2rem;
  background: var(--secondary);
  opacity: 0.7;
}
#dropFrame * {
  color: var(--background);
}
#dropFrame i {
  font-size: 5rem;
  margin-bottom: 2rem;
  animation: blink 0.5s infinite alternate linear;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
#dropFrame.hidden {
  display: none;
}
#root {
  position: relative;
  flex: 3;
  border-left: 1px solid var(--secondary);
  display: grid;
  place-items: center;
  background: var(--background);
}

#leftForm,
#rightForm {
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;
  font-size: 4rem;
  translate: 0 -50%;
  left: 1rem;
  cursor: pointer;
  display: block;
  z-index: 1;
}
#leftForm:hover *,
#rightForm:hover * {
  transform: scale(1.2);
  color: var(--secondary);
}
#leftForm:disabled,
#rightForm:disabled {
  display: none;
}
#rightForm {
  left: unset;
  right: 1rem;
}
#leftForm *,
#rightForm * {
  color: var(--light-secondary);
}
#formWheel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#formCar {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 100%;
  transform: none;
  transition: transform 0.4s cubic-bezier(0.08, -0.28, 0.33, 1.17);
}
.qFormBox {
  flex: 1;
  height: 100%;
  display: grid;
  place-items: center;
}
.qForm {
  position: relative;
  width: clamp(200px, 40vw, 500px);
  display: grid;
  grid-template-columns: 1fr 50px;
  gap: 1rem;
  padding: 2rem 1rem;
  background: var(--background);
}
.qForm audio {
  margin: auto;
  grid-column: span 2;
}
.qForm .fileName,
.qForm .title {
  grid-column: span 2;
}
.qForm input {
  color: var(--primary);
  background: var(--background);
  border: 1px solid var(--secondary);
}
.qForm input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--secondary);
  margin-right: 50px;
}
.qForm input[type="radio"] {
  margin-left: -50px;
}
.qForm input[type="number"] {
  font-size: 16px;
  padding: 0.2rem;
  width: 30%;
}
.qForm button {
  grid-column: span 2;
  width: 100px;
  background: transparent;
  color: var(--secondary);
  outline: 3px solid var(--secondary);
  border: none;
  padding: 0.5rem;
  margin: auto;
}
.qForm button:hover {
  background: var(--secondary);
  color: var(--background);
  box-shadow: var(--shadow);
}
.success,
.success * {
  color: var(--success);
  font-size: 2rem;
}
.edit,
.edit * {
  color: var(--secondary);
  font-size: 1.5rem;
}
.success {
  position: absolute;
  top: 50%;
  right: 2rem;
  translate: 0 -50%;
}
.edit {
  position: absolute;
  top: 50%;
  right: 5rem;
  translate: 0 -50%;
  cursor: pointer;
}
.qForm input[type="radio"],
.qForm button {
  cursor: pointer;
}
#submissionTool {
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: clamp(250px, 50%, 500px);
  background: var(--secondary);
  padding: 2rem;
  text-align: center;
  border: 2px solid var(--background);
  box-shadow: 5px 5px 25px var(--primary-half);
}
#submissionTool h2 {
  color: var(--background);
}
#submissionTool form {
  margin: 2rem auto;
  padding: 2rem 1rem;
  border: 2px solid var(--secondary);
  background: var(--background);
  display: grid;
  place-items: center;
  gap: 2rem;
}
#submissionTool input {
  color: var(--primary);
  background: var(--background);
}
#submissionTool form input {
  font-size: 16px;
  padding: 1rem;
  width: 75%;
  margin: 1rem auto;
  border: 1px solid var(--primary);
  color: var(--secondary);
}
#submissionTool form button {
  width: 150px;
  background: transparent;
  color: var(--secondary);
  outline: 3px solid var(--secondary);
  border: none;
  padding: 0.5rem;
  margin: auto;
  cursor: pointer;
}
#submissionTool form button:hover {
  background: var(--secondary);
  color: var(--background);
  box-shadow: var(--shadow);
}
#submissionTool form label {
  display: grid;
  gap: 1rem;
}
#cancelSubmission {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--warning);
  background: var(--background);
  color: var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
}
#passBox {
  position: relative;
}
#peek {
  position: absolute;
  top: 50%;
  right: 13%;
  translate: -50% -50%;
  color: var(--secondary);
  cursor: pointer;
}
#timeToggle {
  cursor: pointer;
  border: 1px solid var(--secondary);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#timeToggle.toggled {
  background: var(--secondary);
  color: var(--background);
}
#timeLimit {
  min-width: 100px;
}
#successBox {
  padding: 2rem;
  text-align: center;
  display: grid;
  gap: 1rem;
  width: 80%;
}
#successBox div {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
#successBox a {
  color: var(--secondary);
  text-decoration: underline;
}
#successCode {
  font-size: 2rem;
  font-weight: 800;
}
#copyLink,
#copyCode {
  font-size: 1.5rem;
  border: none;
  background: transparent;
  padding: 0.5rem;
  cursor: pointer;
}
#copyLink:active,
#successBox a:has(+#copyLink:active),
#successBox p:has(+#copyCode:active),
#copyCode:active {
  color: var(--success);
}
#createAnother {
  margin: auto;
  width: 80%;
  background: var(--background);
  color: var(--secondary);
  box-shadow: var(--shadow);
}
#createAnother a {
  text-decoration: none;
  color: var(--primary);
}

#introText * {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin: 2rem;
  color: var(--secondary);
  opacity: 0.5;
}
#introText.hidden {
  display: none;
}


#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
#spinner::before {
  content: "Processing...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: x-large;
  animation: spin 1.2s linear infinite reverse;
  background-image: radial-gradient(var(--secondary), transparent, transparent);
  color: var(--background)
}

@keyframes spin {
  100% {rotate: 360deg}
}

#spinner.hidden {
  display: none;
}

.spinOut,
.spinIn {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background: var(--secondary);
  box-shadow: 0 0 1vw var(--primary-half) inset, var(--shadow);
}
.spinOut {
  top: unset;
  bottom: 0;
  background: var(--light-secondary);
  animation: bounceUp 0.4s ease-in-out infinite alternate;
}
.spinIn {
  animation: bounceDown 0.4s ease-in-out infinite alternate;
}
@keyframes bounceUp {
  100% {transform: translateY(-400%)}
}
@keyframes bounceDown {
  100% {transform: translateY(400%)}
}

@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }
  #sidebar {
    flex: 1.5;
    border: none;
  }
  .qForm {
    width: 90%;
    grid-template-columns: 90% 10%;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
  }
  .qForm input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--secondary);
    margin-right: 10px;
  }
  .qForm input[type="radio"] {
    margin-left: -30px;
    font-size: small;
  }
  #leftForm,
  #rightForm {
    top: 10%;
  }
  #sidebar,
  #root {
    overflow-y: auto;
    width: 100vw;
  }
  #restart {
    position: fixed;
    z-index: 2;
  }
  #launchSubmission {
    position: fixed;
    z-index: 2;
    bottom: unset;
    top: 40%;
  }
  #submissionTool {
    width: 90%;
  }
}

@media screen and (max-height: 700px) {
  #sideBar {
    flex: 1 0 30%;
  }
}